.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section {
    width: 150px;
    display: flex;
    align-items: center;
}
.middle-section {
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}
.right-section {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
}
.hamburger-menu {
    width: 25px;
    height: 20px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo {
    width: 100px;
    height: 20px;
}
.search-button {
    width: 66px;
    height: 38px;
    margin-left: -1px;
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-color:rgb(192, 192, 192);
    border-width: 1px;
}
.search-button:hover {
    background-color:rgb(220, 220, 220);
    transition: background-color 0.1s, color 0.15s;
}
.search-button:active {
    background-color:rgb(210, 210, 210);
    transition: background-color 0.02s, color 0.1s;
}
.mic-button {
    width: 40px;
    height: 38px;
    margin-left: 10px;
    background-color: rgb(240, 240, 240);
    border-style: solid;
    border-color: rgb(253, 253 ,253);
    border-width: 1px;
    border-radius: 19px;
}
.search-bar {
    width: 0;
    flex: 1;   
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
}
.search-bar::placeholder {
    font-family: roboto, Arial;
    font-size: 16px;
    color: gray;
}
.search-image {
    height: 25px;
    margin-top: 2px;
}
.mic-image {
    margin-top: 3px;    
}
.upload-image, .apps-image, .notifications-image {
    height: 27px;
}
.profile-image {
    height: 28px;
    border-radius: 20px;    
}
    